
footer{
  height: 80px; 
	margin-top: 135px;
	position: relative;
	background: #343a40;
}

/*---- login---*/
#login{
  margin-top: 100px;
  max-width: 600px;
  height: 320px;
  border-radius:15px;
  background-color:  rgba(62, 69, 81, 0.3);
}

#cadastro{
  margin-top: 30px;
  border-radius:15px;
  background-color:  rgba(62, 69, 81, 0.3);
}
/*---- Editar---*/
#editar{
  color: black;
}